:root {
  --soft-red: hsl(0, 93%, 68%);
  --light-red: hsl(0, 36%, 70%);
  --dark-grayish: hsl(0, 6%, 24%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e6eff6;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #F0F0F0;
}

#card {
  width: 950px;
  display: grid;
  grid-template-areas:
      "A B"
      "C B";
      box-shadow: 0 2px 20px rgba(0,0,0,0.3);
}

/* Cabeçalho com nome do projeto */
header {
  grid-area: A;
  height: 110px;
  width: 100%;
  background-color: white;
}

header .topo img {
  margin-left: 42px;
  margin-top: 40px;
}

/* Imagem */
#foto {
  grid-area: B;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Textos e campo de email*/
main {
  grid-area: C;
  min-height: 400px;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 245, 245, 1) 100%
  );
}

/* Títulos */

main .text {
  font-family: "Josefin sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Texto "We're */
main .text #first {
  color: var(--light-red);
  font-weight: 100;
  letter-spacing: 8px;
  text-transform: uppercase;
  margin-top: 90px;
}

/* Texto "Coming Soon" */
main .text #second {
  letter-spacing: 8px;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: var(--dark-grayish);
}

main .text p {
  color: var(--light-red);
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Josefin Sans", sans-serif;
}

main .email #input {
  border: var(--light-red) 1px solid;
  border-radius: 10px;
  padding: 10px;
}
